*{    
    color:darkcyan;
    font-size:18px;    
}

h1,h2,h3,h4,h5,h6{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:purple;
    text-align: center;
}

h1{
    font-size:24px;   
}

h2{
    color:darkgreen;
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
main div{
    text-align: center;
}

main div aside p{    
    font-family:cursive;
    text-align:center;
    color:palevioletred  
}

p{ 
    color:black;
}

ul{
    list-style-type: square; 
    font-style: italic;   
}

main table li{ list-style-position:unset;
    color:darkmagenta

}

footer{
    font-size:12px;     
}

footer a{
    font-size:12px;
}
